table {
    border: 2px solid black;
    align-items: center;
   
    
  }
    
  th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;;
  }
    
  td {
    text-align: center;
    border-right: 1px solid black;;
  }