@font-face {
  font-family: Dahlia-C;
  src: url(../../../Fonts/dahlia-regularcondensed.otf);
}

@font-face {
  font-family: Dahlia-D;
  src: url(../../../Fonts/dahlia-mediumcondensed.otf);
}

.ticketid {
  margin-bottom: 2%;
  width: 318px;
  height: 36px;
  left: 0px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 4px;
}

.mint {
  font-family: "Dahlia";
  font-size: 20px;
  line-height: 20px;
  /* or 100% */
  color: #f2f2f2;
  margin: 8px 0 0 10px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}


.view{
  font-family: "Dahlia";
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 20px 0;

}

.vi{
  padding: 0 0 30px 0;
  background: #f5c34b;
}

.number{
  margin-top: 15px;;
}

.claimed{
  margin: 15px 0 0 0px ;
}

.star{
  margin: 12px auto;
}