@font-face {
    font-family: dahlia;
    src: url(../../Fonts/dahlia-boldcondensed.otf);
}


@media screen and (min-width:700px) {

    .section{
        display: none;
    }
    
}

@font-face {
    font-family: Montserrat;
    src: url(../../Fonts//Montserrat-Regular.ttf);
}