@font-face {
    font-family:dahlia ;
    src: url("../../Fonts/dahlia-bold.otf");
}


.Box{
    
    background: #FAFAFA;
border-radius: 4px;
margin: 1% 0 1.5% 0;
}

@media screen and (max-width:700px) {
    .Box{
        margin-bottom: 10px;
    }
    
}

.question{
    font-family: 'Dahlia';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 24px;
font-weight: 700;
font-weight: bold;;
border: 0px solid black;



}

.answer{
    text-align: left;
    padding-right: 3%;
    border: 0px solid black;
    font-size: 16px;
}

@media screen and (max-width:700px) {

    .answer{
        font-size: 14px;
    }
    
}