@font-face {
    font-family:Dahliac;
    src: url(../../Fonts/dahlia-regular.otf);
}

.speaker{
    text-decoration: none;
    text-decoration-color: none;
   color: #354B37
}

.speaker:hover{
    text-decoration: none;
    color: #354B37;
    

}