@font-face {
  font-family: GT Flexa;
  src: url(../../../Fonts/GT-Flexa-X-Compressed-Light.otf);
}

@font-face {
  font-family: GT;
  src: url(../../../Fonts/GT-Flexa-Standard-Medium.woff);
}

@font-face {
  font-family: GTD;
  src: url(../../../Fonts/GT-Flexa-Standard-Light.woff);
}

@font-face {
  font-family: GTDB;
  src: url(../../../Fonts/GT-Flexa-Standard-Black.otf);
}

.ticketidinput {
  margin-bottom: 2%;
  width: 150px;
  height: 56px;
  left: 0px;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-bottom-left-radius: 48px;
  border-top-left-radius: 48px;
  justify-content: center;
align-items: center;
padding: 20px 20px;
left: 40px;
}


.reward{
    text-align: left;
    justify-content: left;
}

.rights{
  font-family: 'GT';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 16px;
letter-spacing: -0.05em;
color: #878787;
margin: 20px 0 0 0 ;
text-align: left;
}

.dg{
  justify-content: left;
  float: left;

}

.social{
  justify-content: center;
  margin-right: 18px;
  float: right;
  align-items: center;
  margin: 17px 15px ;

}

.ft{

height: 23.3px;
}