.popup{
    text-decoration: none;
}

.reward{
    padding: 20px 20px ;
}

.r{
    font-family: 'GTD';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 26px;
/* or 144% */


color: #667079;
}

.loader{
    height: 200px;
    margin: 20% 0;
}