@font-face {
    font-family: dahlia;
    src: url(../../Fonts/dahlia-bold.woff);
}

.bar{
    background: #F5C34B;
}

.text{
    font-family: 'Dahlia';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */

text-align: right;
letter-spacing: 1px;
color: #354B37;
color: #354B37;
}
.text3{
    font-family: 'Dahlia';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */

text-align: right;
letter-spacing: 1px;
color: #354B37;
color: #354B37;
}

.text1{
    font-family: 'Dahlia';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */

text-align: right;
letter-spacing: 1px;
color: #354B37;
color: #354B37;
}
.logo{
    align-items: center;
    margin-left: 40%;
}

@media  screen and (max-width:700px) {
    .logo{
        margin-left: 0%;
    }

    .text1{
        display: none;
    }

    
}

@media screen and (min-width:700px) {
    .text3{
        display: none;
    }
    
}