.text-moments {
  font-family: "Dahlia";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #354b37;
  text-align: left;
  margin-top: 30px;
  height: 60px;
}

.input {
  margin-bottom: 2%;
  width: 418px;
  height: 42px;
  left: 0px;
  top: 24px;
  padding: 10px;
  text-align: center;

  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.input-description {

    width: 308px;
    height: 117px;
    text-align: left;
    text-align: center;
    border: none;
    background: #ffffff;
    border-radius: 4px;
  }

@media screen and (max-width: 800px) {
  .input {
    width: 295px;
    height: 36px;
    margin: 4px 0 0 0;
  }

  .text {
    margin-top: 16px;
  }
}

.eth-bcn-moments {
  margin: 40px 0 19px 0;
}

.dg {
  justify-content: left;
  float: left;
}

.social {
  justify-content: center;
  margin-right: 18px;
  float: right;
  align-items: center;
  margin: 17px 15px;
}

.ft {
  height: 23.3px;
}

.input-ethbcn {
  width: 308px;
  height: 117px;
  border: none;
  box-sizing: border-box;
  text-decoration: none;

  background: #f4f4f5;
}


.top-10{
    margin: 20px 0 0 0;
    text-align: left;
}


.taggingInfo{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

display: flex;
align-items: left;
margin: 10px 0 0 0;
padding: 0 50px;

color: #354B37;

}